<h3>Post a Comment</h3>

<%= form_for @post.comments.new do |f| %>
  <%= f.hidden_field :post_id %>
  <p>
  <p>
    <%= f.label :body, "Your Comment"%><br/>
    <%= f.text_area :body, :style => "width:605px; height: 140px;", placeholder: "Write a comment..." %>
  </p>
  <p>
    <%= f.submit "Post your comment", class: "btn btn-large btn-primary" %>
  </p>
<% end %>


