
<li id="<%= feed_item.id %>">
  <div class="feed-item">
  		<div class="user-summary">
				<div class="user-summary-links"><%= link_to gravatar_for(feed_item.user), feed_item.user %>
    			<%= link_to feed_item.user.name, feed_item.user %>
					<div class="story-edit">
					<% if current_user?(feed_item.user) %>
					 TODO edit
					<%= link_to "delete your story ", feed_item, method: :delete,
                                data: { confirm: "You sure?" },
                                title: feed_item.content %>
  															<% end %></div>
				</div>
  		</div>
		<div ><h2><%= feed_item.title %></h2></div>
		<div class="summary"><%= feed_item.content %></div>
		<span class="timestamp">Posted <%= time_ago_in_words(feed_item.created_at) %> ago.</span>
		</div>
</li>