
<li id="<%= feed_item.id %>">
  <div class="feed-item">
  		<div class="user-summary">
				<div class="user-summary-links"><%= link_to gravatar_for(feed_item.user), feed_item.user %>
    			<%= link_to feed_item.user.name, feed_item.user %>
			
				</div>
  		</div>
		<div ><h5><%= feed_item.title %></h5></div>
		<div class="summary"><%= truncate(strip_tags(feed_item.content), length: 80 ) %></div>
		<p><%= link_to "Read more..." , controller: "posts", action: "show", id: feed_item %></p>
		<span class="timestamp">Posted <%= time_ago_in_words(feed_item.created_at) %> ago.</span>
		</div>
</li>
