<% provide(:title, "New story") %>
<!-- Main Area -->
<div class="main-area">
	<div class="container">
		<div class="row">
			<%= render 'shared/page_header' %>
			<h1>Write a new story</br><small></small></h1>
			<div class="span8">
					<%= form_for(@post, html: {multipart: true}) do |f| %>
					<%= render 'shared/error_messages', :object => f.object %>
					<p><%= f.text_field :title, :style => "width:605px;", placeholder: "Enter a title..." %>	</p>
					<p><%= f.cktext_area :content, :ckeditor => {:uiColor => "#cccccc", :toolbar => "Basic"}, :value => "Compose a new story...", :style => "width:605px; height: 140px;" %></p>
					<p><%= f.text_field :tag_list, :style => "width:605px;", placeholder: "Tags (separated by commas)" %></p>
					<%= f.submit "Save your story", class: "btn btn-large btn-primary" %>
					
				<% end %>
			</div>
		</div>
	</div>
</div>
<!-- End Main Area -->
